<h1>Editing classmate</h1>

<%= render "form", classmate: @classmate %>

<br>

<div>
  <%= link_to "Show this classmate", @classmate %> |
  <%= link_to "Back to classmates", classmates_path %>
</div>
